*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}
.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock::before{
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #fc0404;
    box-shadow: 0 0 20px #fc0404,
    0 0 60px #fc0404;
    border-radius: 50%;
    z-index: 100000;
}
.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 8;
}
.circle::before{
    content: '';
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}